body{
padding: 0%;
background-image: linear-gradient(#4500ca 4%,rgba(69,0,202,0) 50%),url(../img/background.jpg),linear-gradient(60deg,#28005f 16%,#8300e5 64%,#0f3bff 100%);
background-repeat: no-repeat;
background-position-x: 40%;
}
.view {
    margin-top: -56px;
}
div.collapse.navbar-collapse {
    background-color: transparent;
    padding-left: 100px;
}
@m.navbar-brandedia only screen and (max-width: 768px) {
.navbar {
 !important   background-color: transparent;
    }
}
html,
body,
header,
.view {
    height: 100%;
}
.navbar.fixed-top.navbar-expand-lg.navbar-dark.scrolling-navbar.bg-primary{
    background-color: transparent!important;
    font-family: 'Paytone One', sans-serif;
}
.navbar .navbar-brand img{
    height: 60px!important;
}
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link{
    padding: 25px;
}
div.container-fluid{
    padding-top: 120px!important;
}
a.navbar-brand{
    color: black!important;
}